prettytable==0.7
termcolor==1.1.0
python-bugzilla>=0.7.0
stevedore


# give priorities to CLI args
-f http://tarballs.openstack.org/oslo.config/oslo.config-1.2.0a3.tar.gz#egg=oslo.config-1.2.0a3
oslo.config>=1.2.0a3
